<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="N64Controller.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <N64Controller.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="Deadzone" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="CButtonDeadzone" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="StickX" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="StickY" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="CStickX" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="CStickY" serializeAs="String">
                <value>RotationZ</value>
            </setting>
        </N64Controller.Settings>
    </applicationSettings>
</configuration>